<% include partials/top %>

<div class="container mt-3">
  
  <div class="col">

    <h1>Weather App</h1>

    <form action="/results" method="GET">

      <div class="form-group">

        <label for="addressInput">Get Weather Conditions</label>

        <input type="text" class="form-control" id="addressInput" aria-describedby="addressHelp" placeholder="enter address..." name="search" required>

        <small id="addressHelp" class="form-text text-muted">Enter your address to get weather results.</small>

      </div>

      <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

    </form>

  </div>

</div>

<% include partials/bottom %>
